{% extends 'users/base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 
 <a href="{% url 'home' %}" class="btn btn-primary ml-2"> Back</a>
    <br>
    <br>
    <h2>Change Password</h2>   

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary ml-2" onclick="myFunction()">Submit</button>
    </form>
    <br>
    <script>
        function myFunction() {
          alert("Read given 4 conditions before changing password.if you don't follow it,again you have fill the form to keep efficient password!");
        }
        </script>
    {% endblock content %}